<form [formGroup]="form" (ngSubmit)="onSubmit()"  style="max-width: 400px; margin: auto; margin-top: 50px;">
  <mat-form-field appearance="fill" class="w-100 mb-3">
    <mat-label>First Name</mat-label>
    <input matInput formControlName="firstName">
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-100 mb-3">
    <mat-label>Last Name</mat-label>
    <input matInput formControlName="lastName">
  </mat-form-field>

  <app-country-select-search #countrySelectSearch [control]="countryFormControl">
  </app-country-select-search>

  <div>
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </div>
</form>